<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Viking Tours</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Playfair+Display:900" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body>


    <div class="grid-row">

                <!-- Header -->
        <header class="header full-width">

            <!-- Mobile header -->
            <div class="show-on-mobile pt1 pl2 pr2 mb1">
                <div class="border--bottom pt1">
                    <div class="grid-row grid-row--center pb1">
                        <div class="grid-column span-half">
                            <!-- Mobile logo -->
                            <div class="mb0"><img class="logo--mobile" src="/img/mobile-logo.svg" alt="Viking Tours" title="Viking Tours"></div>
                        </div>
                        <div class="grid-column span-half align--right">
                            <!-- Mobile social links -->
                            <ul class="mobile-social-links list--inline">
                                <li class="mr1"><a class="link link--default" href="https://www.twitter.com"><img class="icon" src="/img/facebook.svg" alt="Facebook"></a></li>
                                <li class="mr1"><a class="link link--default" href="https://www.instagram.com"><img class="icon" src="/img/instagram.svg" alt="Instagram"></a></li>
                                <li><a class="link link--default" href="https://www.facebook.com"><img class="icon" src="/img/twitter.svg" alt="Twitter"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Desktop header -->
            <!-- Desktop logo -->
            <h1 class="hide-on-mobile logo-container absolute block full-width align--center"><img class="logo--desktop" src="/img/desktop-logo.svg" alt="Viking Tours" title="Viking Tours"></h1>
            <!-- Social links -->
            <ul class="pt1 no-bullets align--center hide-on-mobile">
                <li><a class="link link--default" href="https://www.twitter.com"><img class="icon" src="/img/facebook.svg" alt="Facebook"></a></li>
                <li><a class="link link--default" href="https://www.instagram.com"><img class="icon" src="/img/instagram.svg" alt="Instagram"></a></li>
                <li><a class="link link--default" href="https://www.facebook.com"><img class="icon" src="/img/twitter.svg" alt="Twitter"></a></li>
            </ul>

        </header>
        
        <!-- Hero image -->
        <div class="hero-container full-width show-on-mobile pt1 pl2 pr2">
            <div class="hero full-width full-height" style="background:rgba(0,0,0,0) url(/img/4.jpg) no-repeat scroll center center/cover"></div>
        </div>
        <div class="hide-on-mobile hero" style="background:rgba(0,0,0,0) url(/img/4.jpg) no-repeat scroll center center/cover"></div>

        <!-- Body -->
        <div class="body full-width pt1 pr2 pb2 pl2">
            <!-- Navigation -->
            <nav class="navigation border--bottom pt1">
                <ul class="no-bullets list--inline pb1 bold">
                    <li class="small mr2"><a class="link link--text" href="/">Who We Are</a></li>
                    <li class="small mr2"><a class="link link--text" href="/destinations.html">Destinations</a></li>
                    <li class="small mr2"><a class="link link--text" href="/pricing.html">Pricing</a></li>
                    <li class="small"><a class="link link--text current" href="/contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- Page Content -->
            <main class="content pt2 pb2">
                <h2>Contact</h2>
                <p>We'd love to hear from you. Give us a ring at +44&nbsp;7911&nbsp;123456, or send us a message&nbsp;below.</p>
                <form class="form">
                    <label class="label" for="name">Name</label>
                    <input class="form-control mb1" id="name">
                    <label class="label" for="email">Email</label>
                    <input class="form-control mb1" type="email" id="email">
                    <label class="label" for="phone">Phone</label>
                    <input class="form-control mb1" type="tel" id="phone">
                    <label class="label" for="message">Message</label>
                    <textarea class="form-control mb2" id="message"></textarea>
                    <div class="clearfix">
                        <input class="btn btn--default float--right" value="Send" type="submit">
                    </div>
                </form>
            </main>
                        <!-- Footer -->
            <footer class="border--top pt1 pb1">
                <p class="text--gray small mb0">&copy; Copyright Viking Tours | Design by <a href="https://www.eatapapaya.com" class="link link--text">Papaya</a>.</p>
            </footer>
        </div><!-- end Body -->

    </div>

    </body>
</html>

